<header><h1 class="display-4">Wish List</h1>

</header>

<div class="card">
  <div class="card-block">
    <ul>
      <strong><%= render @places %></strong>
    </ul>
  </div>
</div>

<button><strong><%= link_to 'Add New', new_place_path, class: 'btn btn-primary btn-lg' %></strong></button>
